@using System
@model IEnumerable<Project1.WebApp.Models.Location>

@{
    ViewData["Title"] = "Locations";
}

<h1>@ViewData["Title"]</h1>
<hr />
<table class="table">
    <caption>Location List</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Inventory)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Location location in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => location.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => location.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => location.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => location.Zipcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => location.State)
                </td>
                <td>
                    <table>
                        <caption>Inventory</caption>
                        <thead>
                            <tr>
                                <th scope="col">Product ID</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Product Price</th>
                                <th scope="col">Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (KeyValuePair<Project1.BusinessLogic.Product, int> item in location.Inventory)
                                {
                                    <tr>
                                        <td>@item.Key.Id</td>
                                        <td>@item.Key.Name</td>
                                        <td>$@System.Decimal.Round(item.Key.Price, 2)</td>
                                        <td>@item.Value</td>
                                    </tr>
                                }
                            }
                            <tr></tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
