@model IEnumerable<Project1.WebApp.Models.Customer>

@{
    ViewData["Title"] = "Customer Search Results";
}

<h1>@ViewData["Title"]</h1>
<hr />
<table class="table">
    <caption>Customer Search Results</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => customer.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.LastName)
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Index">Back to Customers</a>
</p>
