@using System
@model Project1.WebApp.Models.OrderDetails

@{
    ViewData["Title"] = "Order Details";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LineItems)
        </dt>
        <dd class="col-sm-10">
            <table>
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (KeyValuePair<Project1.BusinessLogic.Product, int> item in Model.LineItems)
                        {
                            <tr>
                                <td>@item.Key.Id</td>
                                <td>@item.Key.Name</td>
                                <td>$@System.Decimal.Round(item.Key.Price, 2)</td>
                                <td>@item.Value</td>
                            </tr>
                        }
                    }
                    <tr></tr>
                </tbody>
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSale)
        </dt>
        <dd class="col-sm-10">
            $@Html.DisplayFor(model => model.TotalSale)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Orders</a>
</div>
